#frontCardImage {
  border: #333 2px solid;
  box-shadow: 10px 9px 16px -5px rgba(26, 25, 25, 1);
  position: absolute;
  width: 100%;
  z-index: 0;
}
.flipContainer {
  perspective: 1000px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flipped {
  backface-visibility: hidden;
  opacity: 0;
  transform: rotateY(180deg);
  transition: opacity 1s, transform 1s;
}
.not-flipped {
  opacity: 1;
  transform: rotateY(0deg);
  transition: opacity 1s, transform 1s;
}
#back-container {
  background-image: url("xmastreebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: #333 2px solid;
  box-shadow: 10px 9px 16px -5px rgba(26, 25, 25, 1);
  height: 760px;
  min-height: 760px;
}
#frontCardText {
  background-color: #d3a273;
  border: #c43637 double thick;
  float: right;
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 1;
}
.festive {
  font-family: "Mountains of Christmas", cursive;
}
.hint {
  text-align: center;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0.25em;
}
h3 {
  margin-bottom: 12px;
}
p {
  font-size: 1.5rem;
}
.code {
  bottom: 20px;
  font-size: 12px;
  padding-top: 50px;
  position: absolute;
  right: 35px;
}

@media (max-width: 1024px) {
  .App {
    min-height: 50%;
  }
  #frontCardImage {
    position: initial;
    width: 95%;
  }
  #frontCardText {
    margin-right: 5px;
    position: initial;
    width: 100%;
  }
  .row {
    position: absolute;
    top: 0px;
  }
  #back-container {
    margin-left: 0 !important;
    min-height: initial;
    height: initial;
  }
}
